body,html {
	margin:0;
	padding:0;
}

/*
  Effect
*/
#slides-holder {
	position:relative;
	width:100%;
}

.slide {
	position:relative;
	width:100%;
	top:0;
	left:0;
}

.slide.fixed {
	position:fixed;
	top:0;
	left:0;
	width:100%;
}

.slide-fake-height {
	position:relative;
	display:none;
}

.slide-fake-height.visible {
	display:block;
}

/*
  Demo styles
*/
.fade-text {
	display:inline-block;
	position:absolute;
	font-family:HelveticaNeue,helvetica,arial;
	font-size:60px;
	opacity:.2;
	-webkit-transition:all 500ms ease-out;
	-moz-transition:all 500ms ease-out;
	-o-transition:all 500ms ease-out;
	transition:all 500ms ease-out;
}

.fixed .fade-text {
	opacity:1;
}

.slide {
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:center center;
	background-repeat:no-repeat;
}

	#slide-1 {
		background-image:url(http://cloud.bassta.bg/fullscreenslides/slide1bg.jpg);
	}
	
		#slide-1 .fade-text {
			left:10%;
			top:40%;
		}
	
	#slide-2 {
		background-image:url(http://cloud.bassta.bg/fullscreenslides/slide2bg.jpg);
	}
	
		#slide-2 .fade-text {
			left:5%;
			top:40%;
		}
	
	#slide-3 {
		background-image:url(http://cloud.bassta.bg/fullscreenslides/slide3bg.jpg);
	}
	
		#slide-3 .fade-text {
		 color: white;
			left:10%;
			top:20%;
		}
	